<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
      <div class="col-md-4">

<a href="<%= event_path(event.id) %>" id="a-card">
<div class="card mx-auto mb-4"  style="width: 18rem;">
  <img class="card-img-top" <%= image_tag "event.jpg"%>
  <div class="card-body">
    <h5 class="card-title text-center border-bottom pb-3"><%= event.title %></h5>
    <p class="card-text"><%= event.description %></p>
    <div class="row">
      <div class="col">
        <p><%= event.price %> €</p>
      </div>
      <div class="col">
        <p><%= event.start_date %></p>
      </div>
    </div>
  </div>
</div>
</a>

</div>
<% end %>
</div>
</div>
</div>
