<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="container">
      <div class="row mt-5 mb-3">
        <div class="col">
          <h1 class="text-center">Voici les informations de l'event</h1>
          <br><br>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-title"><%= @event.title %></p>
          <div class="card-text">
            <p>description : <%= @event.description %></p><br>
            <p>Date : <%= @event.start_date %></p><br>
            <p>Durée : <%= @event.duration %></p><br>
            <p>Prix : <%= @event.price %> $</p><br>
            <p>Lieu : <%= @event.location %></p><br>
            <p>Créateur : <%= @event.admin.first_name %></p><br>

            <%= form_tag event_attendance_index_path(@event.id) do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <label class="amount">
                  <span>Amount: <%= @event.price.to_f / 100 %> €</span>
                </label>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Paiement pour votre inscription à l'évènement"
                      data-amount="500"
                      data-currency="eur"
                      data-locale="auto"></script>
            <% end %>
            <% if @event.admin == current_user %>
            <a href="<%= event_attendance_index_path(@event.id) %>" class="btn btn-primary">mon espace événement</a>
            <%end%>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
